h1{
  text-align: center;
}

form{
  text-align: center;
  padding: 15px;
}

input[type="text"]{
    width: 15%;
    font-size: 22px;
}

.delete{
    float: right;
}

.a{
  background-color: #fff; 
  color: black;
  border:solid;
  border-width: thin;
  font-size: 25px;
}

.tasksBoard{
text-align:center;
}

.list{
    text-align: left;
    display:inline-block;
    width: 395px;
}

li{
  text-align: left;
  position: relative;
  border: 1px solid black; 
  padding: 15px;
  margin: 5px;
  display: block;
}


